<div class="container container-card d-flex justify-content-center align-items-center">
    <mat-card class="shadow bg-white card-custom w-90 p-4">
        <mat-card-content>
            <div class="card-header">
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="row justify-content-center">
                        <div class="form-group col-12 col-md-5">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Nome</mat-label>
                                <input matInput placeholder="Nome" formControlName="name">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-12 col-md-2">
                            <h6 class="example-h2">Ativo</h6>
                            <section class="example-section">
                                <mat-slide-toggle class="example-margin" [checked]="checked" formControlName="active"></mat-slide-toggle>
                            </section>
                        </div>
                        <div class="form-group col-12 col-md-2 align-self-center">
                            <button type="button" class="btn btn-primary">Pesquisar</button>            
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
        <hr>
        <div class="row">
            <div class="demo-button-container">
                <button (click)="openModalNewClient()" class="btn btn-outline-primary m-1">
                  Novo Cliente
                </button>
                <button class="btn btn-outline-danger m-1">
                  Remover Cliente
                </button>
              </div>
        </div>
        
        <div class="row mt-5 p-2">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 bg-dark">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="text-white"><b>Nome</b></th>
                    <td mat-cell class="text-white" *matCellDef="let element"{{ element.name }}></td>
                </ng-container>
                <ng-container matColumnDef="people">
                    <th mat-header-cell *matHeaderCellDef class="text-white"><b>Pessoa</b></th>
                    <td mat-cell class="text-white" *matCellDef="let element"{{ element.people }}></td>
                </ng-container>
                <ng-container matColumnDef="dateRegister">
                    <th mat-header-cell *matHeaderCellDef class="text-white"><b>Data Cadastro</b></th>
                    <td mat-cell class="text-white" *matCellDef="let element"{{ element.dateRegister }}></td>
                </ng-container>
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef class="text-white"><b>Ativo</b></th>
                    <td mat-cell class="text-white" *matCellDef="let element"{{ element.active }}></td>
                </ng-container>
              <!--  <ng-container matColumnDef="actions">
                    <td mat-cell *matCellDef="let element" (click)="editClient(element)">Ação</td>
                </ng-container>-->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card>
</div>