<div class="container container-card d-flex justify-content-center align-items-center">
    <mat-card class="shadow bg-white card-custom w-90 p-4">
        <mat-card-content>
            <div class="card-header">
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="row justify-content-center">
                        <div class="form-group col-12 col-md-5">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Nome</mat-label>
                                <input matInput placeholder="Nome" formControlName="name">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-12 col-md-2">
                            <h6 class="example-h2">Ativo</h6>
                            <section class="example-section">
                                <mat-slide-toggle class="example-margin" [checked]="checked" formControlName="active"></mat-slide-toggle>
                            </section>
                        </div>
                        <div class="form-group col-12 col-md-2 align-self-center">
                            <button type="button" class="btn btn-primary">Pesquisar</button>            
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
        <hr>
        <div class="row">
            <div class="demo-button-container">
                <button (click)="openModalNewClient()" class="btn btn-outline-primary">
                  Novo Cliente
                </button>
                <button class="btn btn-outline-danger">
                  Remover Cliente
                </button>
              </div>
        </div>
        <!--
            h4 - resultado
            table

        -->
        
    </mat-card>
</div>